<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>VinylPi Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="/static/dashboard.js" defer></script>
</head>

<body>

    <aside class="sidebar">
        <img src="/static/logo.png" class="logo" />
        <div class="pixel-title">Vinyl Pi 64</div>

        <nav class="nav">
            <a href="/" class="active">Dashboard</a>
            <a href="/settings.html">Settings</a>
        </nav>
    </aside>

    <main class="main">
        <div class="song-container">
            <img class="song-cover" id="cover" src="/static/default.png">
            <div class="song-info">
                <div class="song-title" id="title">Lade…</div>
                <div class="song-artist" id="artist"></div>
                <div class="song-album" id="album"></div>
            </div>
        </div>
    </main>

</body>
</html>
